div
    div(id="error")

    form
        div Currency name
        div(id="nameError")
        div
            input(id="currencyName" type="text")

        div Currency ticker
        div(id="tickerError")
        div
            input(id="currencyTicker" type="text")

        div
            input(type="button" value="Add Currency" onclick="addCurrency()")

script(async src="/js/addCurrency.js")