head
    link(rel="stylesheet" href="/css/search.css")
body
    .search
        div Search by ticker or name

        .search__find
            .search__find__input
                input(id="search" type="text")

            .search__find__button
                input(type="button" value="Search" onclick="search()")

    script(async src="/js/search.js")