extends layout

block content
    head
        link(rel="stylesheet" href="/css/currency.css")
        link(rel="stylesheet" href="/css/edit.css")
    body
        include includes/search

        if currencies.length
            .edit
                input(type="button" value="Edit" onclick="edit()")

            each currency, key in currencies
                div(class="currency")
                    div Name: #{currency.name}
                    div Ticker: #{currency.ticker}
        else
            div No one currencies 🥺

        script(src="/js/edit.js")