extends layout

block content
    head
        link(rel="stylesheet" href="/css/currency.css")
    body
        include includes/search

        if currency
            input(type="button" value="Edit" onclick="edit()")

            .currency
                div Name: #{currency.name}
                div Ticker: #{currency.ticker}
        else
            div Not found 🥺

        script(src="/js/edit.js")