.search {
    width: 230px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.search__find {
    border: 2px #5069e3 solid;
}

.search__find__button {
    display: inline-block;
}

.search__find__input {
    display: inline-block;
}